* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}

header {
  display: block;
	align-items: center;
	padding: 2% 0;
	background: #fff;
	position: fixed;
  width: 100%;
	z-index: 1000;
}

section div {
	background: rgba(0,0,0,.05);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2%;
	margin: 2% auto;
	flex-direction: column;
	max-width: none;
	box-shadow: none;
}

h1 {
	font-family: 'Arvo', serif;
	text-align: center;
	color: #272727;
	margin: 2% 0;
}

h2 {
	font-family: 'Arvo', serif;
}

p {
	font-family: 'Raleway', sans-serif;
	color: #272727;
}

.logo {
	max-width: 150px;
  width: 100%;
	display: block;
	margin: auto;
}

.desktop-nav {
  display: none;
}

.snip1189 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
}
.snip1189 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.snip1189 li {
  display: inline-block;
  list-style: outside none none;
}
.snip1189 a {
  padding: 0.5em 0.8em;
  margin: 0.2em 0;
  display: block;
  position: relative;
  text-decoration: none;
}
.snip1189 a:before,
.snip1189 a:after {
  height: 14px;
  width: 14px;
  position: absolute;
  content: '';
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  opacity: 0;
}
.snip1189 a:before {
  left: 0;
  top: 0;
  border-left: 3px solid #00aabb;
  border-top: 3px solid #00aabb;
  -webkit-transform: translate(100%, 50%);
  transform: translate(100%, 50%);
}
.snip1189 a:after {
  right: 0;
  bottom: 0;
  border-right: 3px solid #00aabb;
  border-bottom: 3px solid #00aabb;
  -webkit-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}
.snip1189 a:hover,
.snip1189 .current a {
  color: #272727;
}
.snip1189 a:hover:before,
.snip1189 .current a:before,
.snip1189 a:hover:after,
.snip1189 .current a:after {
  -webkit-transform: translate(0%, 0%);
  transform: translate(0%, 0%);
  opacity: 1;
}

/*Home Page*/
.parallax_img {
	height: 500px;
	background-image: url("images/congo.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% auto;
}

/*About Page*/
#page2, #page3, #page4 {
	padding-top: 40px;
}

.about {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-bottom: 40px;
}

.video {
    display: block;
    margin: 0 2% 2% 2%;
    max-width: 600px;
    flex: 2;
    max-height: 450px;
		width: 100%;
}

.bio {
    flex: 2;
    margin: 2% 5% 2% 5%;
}

.quote-pic {
    max-width: 280px;
    width: 100%;
    height: 100%;
}

.speech-bubble {
	position: relative;
	background: #00aabb;
	border-radius: .4em;
	display: flex;
	align-items: center;
	padding: 0 2%;
	margin: 0 0 .3em 0;
	height: 8rem;
	flex-direction: column;
	justify-content: center;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 0.531em solid transparent;
	border-top-color: #00aabb;
	border-bottom: 0;
	border-right: 0;
	margin-left: -0.266em;
	margin-bottom: -0.531em;
}

.speech-bubble2 {
	position: relative;
	background: #ff8000;
	border-radius: .4em;
	display: flex;
	align-items: center;
	padding: 0 2%;
	margin: 0 0 .3em 0;
	height: 8rem;
	flex-direction: column;
	justify-content: center;
}

.speech-bubble2:after {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 0.531em solid transparent;
	border-bottom-color: #ff8000;
	border-top: 0;
	border-left: 0;
	margin-left: -0.266em;
	margin-top: -0.531em;
}

p.speech-bubble, p.speech-bubble2 {
	color: #fff;
}

.speech-bubble:hover {
	transform: scale(1.1);
}

.speech-bubble2:hover {
	transform: scale(1.1);
}

/*Gallery Page*/
#page3 {
	background: rgba(0,0,0,.05);
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 5%;
		padding-bottom: 40px;
}

.gallery img {
    width: 100%;
    height: 100%;
    padding: .5%;
}

.gallery-text {
	margin: 2% auto;
padding: 0 5% 40px 5%;
	max-width: 1200px;
}

/**
 * ----------------------------------------
 * animation flip-horizontal-bottom
 * ----------------------------------------
 */
 .flip-horizontal-bottom:hover {
 	-webkit-animation: flip-horizontal-bottom 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
 	        animation: flip-horizontal-bottom 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
 }

@-webkit-keyframes flip-horizontal-bottom {
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  100% {
    -webkit-transform: rotateX(-180deg);
            transform: rotateX(-180deg);
  }
}
@keyframes flip-horizontal-bottom {
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  100% {
    -webkit-transform: rotateX(-180deg);
            transform: rotateX(-180deg);
  }
}


/*News Page*/
.preview {
	max-width: none;
	background: rgba(0,0,0,.05);
	margin: 2% auto;
	padding: 2%;
	display: flex;
	align-items: center;
	box-shadow: none;
	flex-direction: column;
}

.preview a {
    text-decoration: none;
    font-style: italic;
		color: #272727;
}

.preview a:hover {
    font-weight: bold;
}

.preview-image {
    width: 100%;
    margin: 0 4% 0 0;
}

.preview img {
    width: 100%;
		margin: 0 2% 2% 2%;
}

.preview-text {
    margin: 0 2%;
}

.preview-text p {
    margin: 2% 0;
}

/*Hamburger Menu*/
.hamburger{
  background:none;
  position:fixed;
  top:0;
  right:0;
  line-height:45px;
  padding:5px 15px 0px 15px;
  color:#999;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.cross{
  background:none;
  position:fixed;
  top:0px;
  right:0;
  padding:7px 15px 0px 15px;
  color:#999;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.menu{z-index:1000000; font-weight:bold; font-size:0.8em; width:100%; background:#f1f1f1;  position:absolute; text-align:center; font-size:12px;}
.menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
.menu li {display: block;   padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu li:hover{display: block;    background:#ffffff; padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu ul li a { text-decoration:none;  margin: 0px; color:#666;}
.menu ul li a:hover {  color: #666; text-decoration:none;}
.menu a{text-decoration:none; color:#666;}
.menu a:hover{text-decoration:none; color:#666;}

.glyphicon-home{
  color:white;
  font-size:1.5em;
  margin-top:5px;
  margin:0 auto;
}
span{padding-left:20px;}
a{color:#336699;}

/*590 Media Query*/
@media (min-width: 590px) {
	.gallery img {
	    width: 40%;
}
}

/*720 Media Query*/
@media (min-width: 720px) {
	.mobile-menu, .hamburger, .cross {
		display: none;
	}

	.desktop-nav {
		display: block;
		margin: 55px 0;
	}

	header {
	  display: flex;
		padding: 0 2%;
		height: 128px;
	}

	nav ul li {
	  display: inline;
		margin: 0 .8rem;
	}

	nav ul li a {
		text-decoration: none;
	  color: #000;
	  font-family: 'Arvo', serif;
	  font-weight: bold;
	  font-size: .8rem;
		color: #272727;
	}

	.logo {
		margin: 0;
	}

	.preview {
		flex-direction: row;
}

.preview-text {
		width: 60%;
		margin: 0;
}

.preview-image {
    width: 40%;
	}

.preview img {
	margin: 0;
}
}

/*980 Media Query*/
@media (min-width: 980px) {
	.about {
	  flex-direction: row;
		align-items: unset;
		justify-content: center;
	}

	.video {
		margin: 0 1% 0 2%;
	}

	section div {
    flex-direction: row;
    display: flex;
    align-items: center;
		box-shadow: 0 10px 20px rgba(0,0,0,.05);
		max-width: 900px;
}

	.speech-bubble {
		position: relative;
    background: #00aabb;
    border-radius: .4em;
    height: 8rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 0 2%;
	}

	.speech-bubble:after {
		content: '';
		position: absolute;
		right: 0;
		top: 50%;
		width: 0;
		height: 0;
		border: 0.531em solid transparent;
		border-left-color: #00aabb;
		border-right: 0;
		border-top: 0;
		margin-top: -0.266em;
		margin-right: -0.531em;
		left: unset;
	}

	.speech-bubble2 {
	position: relative;
	background: #ff8000;
	border-radius: .4em;
	height: 8rem;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	padding: 0 2%;
}

.speech-bubble2:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 0.531em solid transparent;
	border-right-color: #ff8000;
	border-left: 0;
	border-top: 0;
	margin-top: -0.266em;
	margin-left: -0.531em;
}

	.bio {
		max-width: 600px;
		margin:	0 2% 0 1%;
	}

	.preview {
		max-width: 900px;
		box-shadow: 0 10px 20px rgba(0,0,0,.05);
	}
}
/*1024px Media Query*/
@media (min-width: 1024px) {
#page2, #page3, #page4 {
    padding-top: 100px;
}

.about {
	padding-bottom: 80px;
}

.gallery {
	padding-bottom: 80px;
}

.gallery img {
		width: 20%;
}
}

/*1310 Media Query*/
@media screen and (max-width: 1310px) {
	.parallax_img {
		background-attachment: inherit;
	}
}
